/.ipynb_checkpoints
/.vscode
/5class_sep.png
/5class_u1u4.png
/NIPS-CC-plots-Copy1.ipynb
/__init__.py
/cumulative_frac_star.png
/data
/eval.txt
/exact_freqs_pos.py
/exact_freqs_vel.py
/freq_vs_rank_star.png
/init.sh
/old
/scripts
/umap13_l8.png
/umap_spec.png
/umapfull_l8.png
/venv